# Dependencies
node_modules
.pnp
.pnp.js

# Production build outputs
dist
build
.next
out

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log

# Database
*.db
*.db-journal
*.sqlite
*.sqlite-journal

# Testing & Coverage
coverage
.nyc_output

# Editor & OS files
.DS_Store
Thumbs.db
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
